body {
    background-color: #F6F1E9;
}
h1{
    color: #0EA293;
}
h2{
    color: #0EA293;
}
img{
    border-radius: 50%;
}
/* h3{
    background-color: #66bfbf;
} */
hr{
    background-color: gray;
    border-style: none;
    border-top-style: dashed;
    border-color: gray;
    border-width: 5px;
    /* height: 2px; */
    width: 5%;
}